.featured-movie-container {
    position: relative; 
    margin: 3% 3% 2%;
}

.featured-movie-info {
    position: absolute;
    left: 3%;
    bottom: 5%;
    color: white;
    width: 40%;
    text-align: left;
}

.featured-movie-info h1 {
    font-size: 3vw;
    font-weight: 600;
    margin: 20px;
    font-family: 'Trebuchet MS';
}
.featured-movie-info p {
    font-size: 1.2vw;
    font-weight: 400;
    margin: 20px;
    font-family: 'Trebuchet MS';
}

.featured-movie-container img {
    width: 100%;
    filter: brightness(60%);
    background-blend-mode: darken;
    border-radius: 7px;
}