.search {
    width: 50%;
    margin: 20px 0;
    
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 5px 20px;
    border-radius: 3rem;
    border: 2px solid #ffffff;
    background: #1f2123;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  }
  .light-mode .search {
    background-color: #f5f5f5;
    border-color: #1f2123;
    /* box-shadow: 5px 5px 7px #e1e1e1, -5px -5px 7px #e1e1e1; */
    box-shadow: none;
  }

  
  .search input {
    flex: 1;
    border: none;
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
  
    outline: none;
    color: #a1a1a1;
    background: #1f2123;
  }
  .light-mode .search input {
    color: #1f2123;
    background-color: #f5f5f5;
  }
  
  .search img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .light-mode .search img {
    filter: invert(1);
  }