a {
    text-decoration: none;
}


.info-container {
    display: flex;
    color: white;
    width: 100%;
    
    
}
.movieInfo-image {
    flex: 1;
}
.movieInfo-image img {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0.5em 1em 1em rgb(75, 75, 75);

    
    
    
}
.light-mode .movieInfo-image img {
    box-shadow: 0.5em 1em 1em rgb(64 64 70);
}
.info {
    flex: 1.75;
    padding-right: 20px;
}
/* header (title, tagline) */

.info #header-container-info {
    display: inline-block;
    width: 100%;
}

.info #header-container-info #title {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px;
    
}
.info #header-container-info #tagline {
    font-size: 2rem;
    /* font-weight: 500; */
    margin: 0;
    
}
.light-mode .info #header-container-info {
    color: black;
}



/* trailer and runtime and release date */

.info #metadata-container {
    display: flex;
    align-items: center;
    width: 100%;
    /* text-align: right; */
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
.info #metadata-container #metadata {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px;
    right: 0;
}

.light-mode .info #metadata-container {
    color: black;
}


/* genre button styling */



#genretag-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}

.genretag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 0 10px;
    padding: 0;
    
}
.genretag:hover {
    transform: scale(1.05);
}

.genretag a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.genretag img {
    height: 2.5rem;
    filter: invert(1);
}

.genretag span {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}








/* movie info area; overview header and content */

.info #overview-container {
    margin: 0;
    text-align: left;
}
.info #overview-container h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0px 30px 5px;
    padding: 0;
    text-align: left;
}

.info #overview-container #overview {
    font-size: 1.8rem;
    font-weight: 450;
    margin: 10px 30px 20px;
}

.light-mode .info #overview-container {
    color: black;
}





/* trailer container */

.info #trailer-container {
    margin: 0;
    text-align: left;
    margin: 0px 30px 5px;
}
.info #trailer-container h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 30px 0 10px;
    padding: 0;
    text-align: left;
}

.light-mode .info #trailer-container h2 {
    color: black;
}
.info #trailer-container iframe {
    width: 60%;
    height: 220px;
}






/* watch provider styling */

#watchprovider-header {
    text-align: left;
    font-size: 3rem;
    font-weight: 500;
    /* text-align: center; */
    color: white;
    margin-left: 50px;
    margin-bottom: 15px;
}

.light-mode #watchprovider-header {
    color: black;
}

#watch-providers-container {
    margin: 0;
    margin-left: 50px;
    text-align: left;
}

/* image containers */
#watch-providers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 30px;
    align-items: top;
    justify-content: left;
    width: 100%;

}


.provider-container {
    width: 75px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.provider-container img {
    width: 100%;
    border-radius: 10px;
}
.light-mode .provider-container img {
    box-shadow: 0px 0px 10px  rgb(173, 173, 173);
}
.provider-container p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    color: white;
}
.light-mode .provider-container p {
    color: black;
}





/* movie actor images */

#cast-header {
    text-align: left;
    font-size: 3rem;
    font-weight: 500;
    /* text-align: center; */
    color: white;
    margin-left: 50px;
    margin-bottom: 15px;
}
.light-mode #cast-header {
    color: black;
}
#actors {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    width: 100%;
    
}
#actor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 20px;
    padding: 0 20px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: margin 0.4s ease;
    
}
#actor-container img {
    width: 110px;
    /* height: 150px; */
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

.light-mode #actor-container img {
    box-shadow: 0px 0px 10px  rgb(173, 173, 173);
}

#actor-container:hover {
    /* transform: scale(1.02); */
    margin-top: 15px;
    margin-bottom: 15px;
    
}
#actor-container p:nth-child(2) {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: white;
    text-align: left;
    width: 100%;
}
.light-mode #actor-container p:nth-child(2) {
    color: black;
}
#actor-container p:nth-child(3) {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    width: 100%;
}
.light-mode #actor-container p:nth-child(3) {
    color: rgba(0, 0, 0, 0.6);
}










.empty-movieinfo {
    height: auto;
}
.light-mode .empty-movieinfo {
    color: black;
}



#recommended {
    text-align: left;
    font-size: 3rem;
    font-weight: 500;
    /* text-align: center; */
    color: white;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 40px;
}
.light-mode #recommended {
    color: black;
}
#reccMoviesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}