.info-container {
    display: flex;
    color: white;
    
    
}
.movieInfo-image {
    flex: 1;
}
.movieInfo-image img {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
    
    border-radius: 15px;
    overflow: hidden;

    
    
    
}
.info {
    flex: 1;
    
}
/* header (title, tagline) */

.info div:nth-child(1) {
    display: inline-block;
    width: 100%;
}

.info div:nth-child(1) #title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px;
    
}
.info div:nth-child(1) #tagline {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    
}



/* trailer and runtime and release date */

.info div:nth-child(2) {
    display: inline-block;
    width: 100%;
    /* text-align: right; */
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info div:nth-child(2) #metadata {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 20px;
    float: right;
}
#trailer-btn {
    float: left;
    padding: 10px 20px 10px;
    margin: 10px auto 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    border-color: white;
    


}
#trailer-btn a {
    /* width: 100%;
    height: 100%; */
    font-size: 1.5rem;
    color: white;
    text-decoration: none;

}


/* movie info area */





.info div:nth-child(3) {
    margin: 0;
    text-align: left;
}
.info div:nth-child(3) h2 {
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0px 30px 5px;
    padding: 0;
    text-align: left;
}

.info div:nth-child(3) #overview {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 30px 20px;
    
    
}

/* movie actor images */
#actors {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}
#actors img {
    width: 100px;
    height: 100px;
    margin: 10px 0px 10px 20px;
    border-radius: 20px;
    object-fit: cover;
}



.empty-movieinfo {
    height: auto;
    
}



#recommended {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    margin-left: 50px;
    margin-bottom: 10px;
}
#reccMoviesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}