.top-header-container {
    /* position: fixed; */
    display: flex;
    /* height: 10vh; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0;
    box-shadow: 0px 5px 15px black;
    background-color: #303030;
    width: 100%;

}
.light-mode .top-header-container {
    background-color: #c8020c;
}

/* darkmode light mode button */
#light-dark-container {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 50px;
    border-radius: 50px;
    /* background-color: blue; */
    overflow: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#light-dark-container img {
    /* background-color: transparent; */
    object-fit: cover;
    padding: 0;
    filter: invert(1);
}

#light-dark-container:hover {
    background-color:rgb(97, 97, 97);
}

.light-mode #light-dark-container:hover {
    background-color:rgb(39, 39, 39);
}




.featured-movie {
    display: flex;
    width: 100%;
    /* background-color: red; */
    justify-content: center;
}



.moviesection-container {
    flex: 4;
    background-color: rgb(18, 18, 18);
    flex-direction: column;
    height: 100vh;
    margin:0;
}
.light-mode .moviesection-container {
    background-color: #f5f5f5;
}








/* add custom scroll bar to main movie section */


/* Hide scrollbar for IE, Edge and Firefox */
.scrollable-content-moviesection-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* width */
.scrollable-content-moviesection-container::-webkit-scrollbar {
    width: 13px;
}
  
/* Track */
.scrollable-content-moviesection-container::-webkit-scrollbar-track {
    background: #bcbcbc;
}
  
/* Handle */
.scrollable-content-moviesection-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}
  
/* Handle on hover */
.scrollable-content-moviesection-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}











.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.empty {
    font-size: 30px;
}
.light-mode .empty {
    color: #111111;
}

#loading {
    color: white;
}
.light-mode #loading {
    color: #111111;
}




/* arrow container for movielist */

#arrows-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 30px;
}

#current-page {
    color: white;
    margin: 20px;
}

#prev-btn, #next-btn {
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #c8020c;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.3s;
    text-align: center;
}

#prev-btn:hover, #next-btn:hover {
    background-color: #a8000c;
}
