.top-header-container {
    /* position: fixed; */
    display: flex;
    /* height: 10vh; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0;
    box-shadow: 0px 5px 15px black;
    background-color: #303030;
    width: 100%;

}
.light-mode .top-header-container {
    background-color: #c8020c;
}

#light-dark-container {
    background-color: transparent;
    border: none;
    margin-left: 50px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
#light-dark-container img {
    /* background-color: transparent; */
    width: 50px;
    padding: 0;
}

#light-dark-container:hover {
    cursor: pointer;
    /* background-color:rgb(18, 18, 18); */
}


.featured-movie {
    display: flex;
    width: 100%;
    /* background-color: red; */
    justify-content: center;
}



.moviesection-container {
    flex: 4;
    background-color: rgb(18, 18, 18);
    flex-direction: column;
    height: 100vh;
    margin:0;
}
.light-mode .moviesection-container {
    background-color: #f5f5f5;
}

.scrollable-content-moviesection-container {
    height: 100%;
    overflow-y: scroll;
}

.scrollable-content-moviesection-container::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
.scrollable-content-moviesection-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
}

.empty {
    font-size: 30px;
}
.light-mode .empty {
    color: #111111;
}

#loading {
    color: white;
}
.light-mode #loading {
    color: #111111;
}
